.loader_container{
    display: flex;;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bbf3e9;
    animation: jump 1.2s infinite ease-in-out;
}
.dot-1{
  animation-delay: -0.32s;
}
.dot-2{
  animation-delay: -0.16s;
}

.dot-3{
animation-delay: 0s;
}

@keyframes jump {
    0%, 80%, 100%{
        transform: translateY(0);
        opacity: 0.7;
    }
    40%{
        transform: translateY(-10px);
        opacity: 1;
    }
}