.carousel__container{
    width: 400px;
    height: 300px;
    background: #d4f8f9;
    display: flex;
}

.carousel__card{
    position: relative;
    background: #fefefe;
    width: 400px;
    display: flex;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4 ease, transform 0.4s ease;
}
.carousel__viewport {
  width: 200px; /* adjust */
  overflow: hidden;
  position: relative;
}

.carousel__track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel__item {
  min-width: 100%;
  text-align: center;
}


.carousel_btn{
    position: absolute;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 30px;
    background: #faedf0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

}
.carousel_btn:hover{
        background: #f4c0cb;
}

.left_btn{
    left: 0;
}

.right_btn{
    right: 0;
}